@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* font-families */
.merriweather-ff {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-ff {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared fonts */
.black-72px {
    font-size: 72px;
    font-weight: 900;
}

.black-48px {
    font-size: 48px;
    font-weight: 900;
}

.bold-48px {
    font-size: 48px;
    font-weight: bold;
}

.bold-20px {
    font-size: 20px;
    font-weight: bold;
}

.medium-24px {
    font-size: 24px;
    font-weight: 500;
}

.medium-20px {
    font-size: 20px;
    font-weight: 500;
}

.regular-20px {
    font-size: 20px;
    font-weight: normal;
}

.regular-18px {
    font-size: 18px;
    font-weight: normal;
}

/* shared color */

.color-1 {
    color: #070211;
}

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styles */
body {
    max-width: 1320px;
    margin: 0 auto;
    border: 1px solid;
}

body section {
    margin: 120px auto;
}

/* header styles */
header {
    background-image:
        linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)),
        url(../images/banner-image.png);
    background-repeat: no-repeat;
    border-radius: 16px;
}

.banner {
    height: 600px;
    padding: 177px 344px;
    margin-top: 50px;
}

.banner-content {
    color: white;
    text-align: center;
}

.banner-content>h3 {
    font-size: 32px;
    font-weight: normal;
}

/* new-year-discount section */
.new-year-discount {
    text-align: center;
}

.new-year-discount > h1 {
    font-size: 88px;
    font-weight: bold;
    color: red;
    margin-bottom: 48px;
}

.new-year-discount > h3 {
    color: red;
    margin-bottom: 16px;
}

/* party section */
.party {
    background-image:
        linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)),
        url(../images/vector.png);
    background-repeat: no-repeat;
    border-radius: 16px;
}

.party-banner {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: 1px solid blue;
}

.party-banner-content {
    color: white;
    max-width: 697px;
}

.party-banner-content > h1 {
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 11%;
    max-width: 642px;
    margin-bottom: 24px;
}

.party-banner-content > p {
    margin-bottom: 48px;
    color: rgb(255, 255, 255, 0.8);
}

.party-banner-content > button {
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 32px;
}
