@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* font-families */
.merriweather-FF {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-FF {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared fonts */
.black-72px {
    font-size: 72px;
    font-weight: 900;
}

.bold-48px {
    font-size: 48px;
    font-weight: bold;
}

.regular-18px {
    font-size: 18px;
    font-weight: normal;
}

.bold-20px {
    font-size: 20px;
    font-weight: bold;
}

.medium-24px {
    font-size: 24px;
    font-weight: 500;
}

.black-48px {
    font-size: 48px;
    font-weight: 900;
}

.regular-20px {
    font-size: 20px;
    font-weight: normal;
}

.medium-20px {
    font-size: 20px;
    font-weight: 500;
}

/* body styles */
body {
    max-width: 1320px;
    margin: 0 auto;
}



